- content_for :featured do
  %h2 Good data. Better region.
  %p
    If you need data, visualizations, or maps about the #{region_name_or('')} region, you've come to the right place.

  .row.explanation
    .col-lg-3.col-sm-6.col-xs-12.explanation
      = link_to datasets_path do
        %h5.explanation.data-catalog          Data Catalog
        = image_tag 'explanations/data-catalog-sm.png', class: 'explanation-icon'
      %p
        Browse, search, and download #{layer_count} spatial and tabular datasets from the 
        = succeed '.' do
          = link_to 'Data Catalog', datasets_path

    .col-lg-3.col-sm-6.col-xs-12.explanation
      = link_to municipalities_path do
        %h5.explanation.community-snapshots   Community Profiles
        = image_tag 'explanations/community-snapshots-sm.png', class: 'explanation-icon'
      %p
        View dashboards on housing, education, the arts, and more, tailored to your town in 
        = succeed '.' do
          = link_to 'Community Profiles', snapshots_path

    .col-lg-3.col-sm-6.col-xs-12.explanation
      = link_to visualizations_path do
        %h5.explanation.visualization-gallery Visualization Gallery
        = image_tag 'explanations/visualization-gallery-sm.png', class: 'explanation-icon'
      %p
        Explore #{visualization_count} user-made maps, charts, and more in the 
        = succeed ',' do
          = link_to 'Gallery', visualizations_path
        and learn how to
        = succeed '.' do
          - if signed_in?
            = link_to 'make your own', new_visualization_path
          - else
            make your own

    .col-lg-3.col-sm-6.col-xs-12.explanation
      = link_to static_maps_path do
        %h5.explanation.map-gallery           Map Gallery
        = image_tag 'explanations/map-gallery-sm.png', class: 'explanation-icon'
      %p
        View maps and data projects from around #{region_name_or('the region')} in the
        = succeed '.' do
          = link_to 'Map Gallery', static_maps_path
        This is a great way to learn more about work going on around the region.

%hr

.row.the-row
  .col-md-8.col-sm-12
    %h1 Featured Visualization
    -# = image_tag "https://unsplash.it/700/432?image=618"
    = render partial: 'visualizations/feature', locals: { feature: Visualization.first }
  .col-md-4.col-sm-12
    %h1 Visualizations by Topic
    .row
      .col-md-12.col-sm-6.col-xs-6
        .icon-center-group
          = render partial: 'topics/topic', collection: topics[0..5], as: :topic, locals: { path: 'visualizations' }
      .col-md-12.col-sm-6.col-xs-6
        .icon-center-group
          = render partial: 'topics/topic', collection: topics[6..11], as: :topic, locals: { path: 'visualizations' }

.row
  .col-xs-12
    .page-header
    %h1 Recent Visualizations
    = render partial: 'visualizations/thumbnail', collection: recent_visualizations, as: :visual