- content_for :featured do
  %div.featured{style: "background: url('http://unsplash.it/1400/400?random') no-repeat;"}
    %div.container
      %div.row
        %div.col-md-5.featured-text
          %h3= @hero.title
          %h4= @hero.subtitle
          =    @hero.to_html.html_safe



%div.row
  %div.col-xs-12
    %h3 Featured Visualization

%div.row
  %div.col-md-7.col-md-offset-1.col-sm-12
    = render partial: 'visualizations/feature', locals: { vis: feature }
  %div.col-md-3.col-md-offset-0.col-sm-8.col-sm-offset-2
    %h5.center Find Visualizations by Topic
    %div.list-group
      = render partial: 'topics/topic', collection: topics

%hr

%div.row
  %div.col-xs-12
    %h3 Recent Visualizations
    - recent_visualizations.each do |vis|
      = render partial: 'visualizations/preview', locals: { vis: vis }