- content_for :featured do

  #carousel-dc.carousel.slide{data: {ride: "carousel"}}

    %ol.carousel-indicators
      %li.active{data: {target: "#carousel-dc", "slide-to" => "0"}}
      %li{       data: {target: "#carousel-dc", "slide-to" => "1"}}
      %li{       data: {target: "#carousel-dc", "slide-to" => "2"}}

    .carousel-inner
      .item.active
        %img{src: @heros[0].image}
        .carousel-caption
          %h3= @heros[0].title
          %h4= @heros[0].subtitle
          %p=  @heros[0].to_html.html_safe
      .item
        %img{src: @heros[1].image}
        .carousel-caption
          %h3= @heros[1].title
          %h4= @heros[1].subtitle
          %p=  @heros[1].to_html.html_safe
      .item
        %img{src: @heros[2].image}
        .carousel-caption
          %h3= @heros[2].title
          %h4= @heros[2].subtitle
          %p=  @heros[2].to_html.html_safe

    %a.left.carousel-control{href: "#carousel-dc", role: "button", data: {slide: "prev"}}
      %span.glyphicon.glyphicon-chevron-left
    %a.right.carousel-control{href: "#carousel-dc", role: "button", data: {slide: "next"}}
      %span.glyphicon.glyphicon-chevron-right


.row
  .col-xs-10.col-xs-offset-1
    %h2.page-header Featured Visualization
.row
  .col-md-7.col-md-offset-1.col-sm-12
    = render partial: 'visualizations/feature', locals: { feature: @feature }
  .col-md-3.col-md-offset-0.col-sm-8.col-sm-offset-2
    %h5.center Find Visualizations by Topic
    .list-group
      = render partial: 'topics/topic', collection: topics


.row
  .col-xs-12
    %h2.page-header Recent Visualizations
    - recent_visualizations.each do |vis|
      = render partial: 'visualizations/preview', locals: { vis: vis }