.row
  .col-md-8.col-md-offset-2.col-sm-10.col-md-offset-1.col-xs-12.col-xs-offset-0
    %h1.page-header Log In
    .form{role: 'form'}
      = form_for(:session, url: sessions_path) do |f|
        .form-group
          = f.label      :username
          = f.text_field :username, class: 'form-control'
        .form-group
          = f.label          :password
          = f.password_field :password, class: 'form-control'

        = f.submit 'Log In', class: 'btn btn-large btn-success'
    
    %br
    %br
    
    %p
      Do you need an account?
      =link_to 'Sign up!', '#'