%h1 "#{params[:search]}"
%h2.page-header Search Results


.row


%h3 Data

- if @datasets.records.any?
  = render partial: 'datasets/dataset', collection: @datasets.records
- else
  No
  = link_to 'datasets', datasets_path
  matched your search.


.row.page-header


%h3 Maps
- if @results.static_maps.any?
  = render @results.static_maps
- else
  No
  = link_to 'maps', static_maps_path
  matched your search.


.row.page-header


%h3 Visualizations
- if @results.visualizations.any?
  = render @results.visualizations
- else
  No
  = link_to 'visualizations', visualizations_path
  matched your search.


%br
%br
%br


-# = paginate @results