%h1 "#{params[:search]}"
%h2.page-header Search Results


.row


%h3 Data

- if @datasets.any?
  = render partial: 'datasets/dataset', collection: @datasets
- else
  No
  = link_to 'datasets', datasets_path
  matched your search.

  %p
    = succeed '.' do
      You may want to search for a tag, such as
      = link_to search_path(search: 'demographics') do
        %span.badge demographics
      or
      = link_to search_path(search: 'transportation') do
        %span.badge transportation


.row.page-header


%h3 Maps
- if @results.static_maps.any?
  = render @results.static_maps
- else
  No
  = link_to 'maps', static_maps_path
  matched your search.


.row.page-header


%h3 Visualizations
- if @results.visualizations.any?
  = render @results.visualizations
- else
  No
  = link_to 'visualizations', visualizations_path
  matched your search.


%br
%br
%br


-# = paginate @results