%p= @dataset.notes

%table.metadata
  %tr
    %td Creator
    %td= dataset.url.presence || "Unknown"
  %tr
    %td Publisher
    %td= dataset.organization ? dataset.organization["title"] : "Unspecified"
  - dataset.extras.each do |extra|
    %tr
      %td= extra["key"]
      %td= extra["value"]
  %tr
    %td Last Updated
    %td= Date.parse(dataset.metadata_modified).to_s(:monthyear)
  %tr
    %td Tags
    %td
      - dataset.tags.each do |tag|
        %span.badge= tag["display_name"]

#universe.modal.fade{role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}} &times;
        %h3 What is a 'universe'?
      .modal-body
        %p
          The universe describes the total number of units in the dataset of interest. For example, the universe for 'Population' is the total population, whereas the universe for 'Labor Force' is the population ages 16 and older, since 16 is the legal age for working in the U.S.
      .modal-footer
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close window
