%table.metadata

  %tr
    %td Category
    %td= "TODO: dataset.category"
  %tr
    %td Creator
    %td= dataset.author.presence || "Unknown"
  %tr
    %td Publisher
    %td= dataset.organization ? dataset.organization["title"] : "Unspecified"
  %tr
    %td Dates Available
    %td= "TODO: dataset.spatial_coverage"
  %tr
    %td Spatial Coverage
    %td= "TODO: dataset.spatial_coverage"
  -# %tr
    -# %td Last Updated
    -# %td= Date.parse(dataset.revision_timestamp).to_s(:monthyear)
  %tr
    %td Tags
    %td
      - dataset.tags.each do |tag|
        %span.badge= tag["display_name"]
  %tr
    %td
      Universe
      %br
      %small
        %a{href: '#', data: {toggle: 'modal', target: '#universe'}} What is a 'universe'?
    %td= "TODO: dataset.universe"

#universe.modal.fade{role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}} &times;
        %h3 What is a 'universe'?
      .modal-body
        %p
          The universe describes the total number of units in the dataset of interest. For example, the universe for 'Population' is the total population, whereas the universe for 'Labor Force' is the population ages 16 and older, since 16 is the legal age for working in the U.S.
      .modal-footer
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close window

-# .center

-#   .dropdown.btn-group
-#     %a.btn.btn-success.dropdown-toggle{href: '#', data: {toggle: "dropdown"}}
-#       %span.glyphicon.glyphicon-cloud-download
-#       Download Data and Metadata
-#       %span.caret
-#     %ul.dropdown-menu
-#       %li.dropdown-header Spatial
-#       - dataset.try(:spatial_extents).each do |extent|
-#         %li= link_to "#{extent}", download_dataset_path(dataset,try(: extent_id): extent.id)
-#   &nbsp;
-#   %small
-#     %a{href: '#', data: {toggle: 'modal', target: '#geographies'}}
-#       What are these geographies?