- return_params = params.reject{|k,v| ["id"].include? k }
%h1= link_to "< Data", datasets_path(return_params)

%h2.layer.title= @dataset.title

.page-header

.row
  .col-md-6.col-sm-12
    = render partial: 'datasets/metadata', object: @dataset, as: :dataset 
  
  .col-md-6.col-sm-12
    %table.metadata
      %thead
        %th{colspan: "3", style: 'text-align: center;'}
          %h4
            %span.glyphicon.glyphicon-cloud-download
            Download
      %tbody
        %tr
          %th.center Tabular
          %th.center Spatial
          %th.center Metadata
        - @dataset.resources.each do |resource|
          %tr
            %td
              = link_to resource.name, "http://#{ ENV.fetch('CKAN_BASE_URL') {'#'} }/dataproxy/dump/#{resource.id}"
            %td
              -# #strip in case of extraneous spaces
              - res = @spatial.resources.select{|r| r.name.strip == resource.name.strip }.first
              = link_to res.name, res.url if res
            %td
              - met = @metadata.resources.select{|r| r.name.include? resource.name }.first
              = link_to met.name.gsub('Metadata - ', ''), "http://#{ ENV.fetch('CKAN_BASE_URL') {'#'} }/dataproxy/dump/#{met.id}" if met
    %small
      %a{href: '#', data: {toggle: 'modal', target: '#geographies'}}
        What are these geographies?
    -# #map.snapshot.map

#geographies.modal.fade{role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}} &times;
        %h3 Description of available geographies
      .modal-body
        - @spatial.resources.each do |resource|
          %h5= resource.name
          %p=  resource.description
          %br
      .modal-footer
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close window

-# :javascript

-# $(document).on('ready', function () {

-#   var map   = L.map('map', {scrollWheelZoom: false}).setView([42.3580, -71.0616], 12),
-#       tiles = L.tileLayer("http://tiles.mapc.org/basemap/{z}/{x}/{y}.png", {
-#           attribution: 'Tiles by <a href="http://www.mapc.org/" target="_blank">Metropolitan Area Planning Council</a>.',
-#           maxZoom:      17
-#     }).addTo(map);
-# });