%h1= link_to "< Data", datasets_path(page: params[:page])

%h2.layer.title= @dataset.title
%p=  @dataset.try(:description)

.page-header

.row
  .col-sm-6.col-xs-12
    = render partial: 'datasets/metadata', object: @dataset, as: :dataset 
    -# = @dataset.inspect
  
  .col-sm-6.col-xs-12
    %h3 Download
    %table.metadata
      = render partial: 'datasets/resource', collection: @dataset.resources
    -# #map.snapshot.map

#geographies.modal.fade{role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}} &times;
        %h3 Description of available geographies
      .modal-body
        - @dataset.resources.each do |resource|
          %h5= resource
          %p=  resource.description
      .modal-footer
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close window

-# :javascript

-# $(document).on('ready', function () {

-#   var map   = L.map('map', {scrollWheelZoom: false}).setView([42.3580, -71.0616], 12),
-#       tiles = L.tileLayer("http://tiles.mapc.org/basemap/{z}/{x}/{y}.png", {
-#           attribution: 'Tiles by <a href="http://www.mapc.org/" target="_blank">Metropolitan Area Planning Council</a>.',
-#           maxZoom:      17
-#     }).addTo(map);
-# });