.row.profile
  .col-md-1.col-sm-2.col-sm-offset-1.col-xs-3.col-xs-offset-0
    -# = image_tag avatar_url(@profile.user), alt: @profile.name
  .col-md-3.col-sm-4.col-xs-8.info
    %h3=  @profile.name
    - if current_user? @profile.user
      = link_to 'Edit Profile', edit_profile_path(@profile.user)
    - if @profile.has_rich_data?
      %p=  mail_to @profile.email
      %p=  @profile.city
  - if @profile.has_rich_data?
    .col-md-3.col-sm-4.col-xs-12.org
      %h5= @profile.organization
      %p=  @profile.position
      -# %p=  link_to @profile.website_url
    

%h2.page-header #{@profile.name}'s Visualizations

- if @profile.visualizations.empty?
  %p #{@profile.fname} has not created any visualizations.

.row
  = render partial: 'visualizations/thumbnail', collection: @profile.visualizations[0..3], as: :vis
.row
  = render partial: 'visualizations/thumbnail', collection: @profile.visualizations[4..7], as: :vis

.row.center
  = paginate @profile.visualizations, window: 1, outer_window: 1