.feature
  %h3= link_to feature.title, feature
  = image_tag feature.image.url, id: "#{feature.id}", class: "visual feature"
  %p
    by
    = link_to feature.owner, profile_path(feature.owner)
    &bull;
    = succeed ':' do
      = "Year".pluralize(feature.years.length)
    = feature.years.join(', ')
    &bull;
    = issue_areas_list  feature
    &bull;
    = data_sources_list feature
    

:javascript

  $(document).on('ready', function () {
    Visuals.embed_on_click('.feature img');
  });
  