%div
  %h3= link_to feature.title, feature
  %p
    by
    #{link_to feature.owner} | Year(s) #{feature.year}
  %img.feature{id: "vis-#{feature.id}", src: feature.full_image_path}
  %p= data_sources_list feature
  %p= issue_areas_list  feature

:javascript

  $(document).on('ready', function () {
    console.log('ready');
    DC.synchEmbedWeaveOnClick("#vis-#{feature.id}", #{feature.sessionstate});
  });
  