.form.vis-form{role: 'form'}
  = form_for @visualization, remote: true, format: :json do |f|
    
    .col-sm-12.feature
      - if params[:action] == 'new'
        #new
      - else
        %img.feature{id: "#{@visualization.id}", src: @visualization.image.url}
        %p.pre-weave
          %small Click to activate interactive visualization. (Flash required)

      = render 'visualizations/help'

    = f.hidden_field :sessionstate

    .col-md-3.col-sm-6.col-xs-12
      .form-group
        = f.label      :title
        = f.text_field :title, class: 'form-control',    placeholder: "Your Visualization's Title"
    
    .col-md-3.col-sm-6.col-xs-12
      .form-group
        = f.label      :year, 'Year(s)'
        = f.text_field :year,  class: 'form-control',    placeholder: "Dates of interest, i.e. 2009 - 2011"
    
    .col-md-3.col-sm-6.col-xs-6
      .form-group
        = f.label      :institution_id
        %p.small
          Visualizations belonging to one institution will appear sooner in the visualization gallery in that institution's DataCommon.
        - if institutions_exist?
          = select_tag 'visualization[institution_id]', options_for_select(Institution.all.map {|g| [g.short_name, g.id]}, @institution.id)
        - else
          None

    .col-md-3.col-sm-6.col-xs-6
      .form-group
        = f.label      :permission, 'Public or Private?'
        %p.small
          Public visualizations are displayed in the gallery, and can be viewed and shared.
        = select_tag('visualization[permission]', options_for_select([['Public','public'],['Private','private']], 'public'))

    .col-sm-6.col-xs-12
      .form-group
        = f.label      :abstract
        = f.text_area  :abstract, class: 'form-control', placeholder: "Summarize what you are trying to visualize.", rows: 5
      
    .col-sm-3.col-xs-6
      .form-group
        = f.label      :issue_area_ids, 'Topics'
        %p.small Hold down Control (PC) or Command (Mac) to select multiple topics.
        = f.collection_select :issue_area_ids,  IssueArea.all,  :id, :title, {}, {multiple: true, class: 'form-control'}
    
    .col-sm-3.col-xs-6
      .form-group
        = f.label      :data_source_ids, 'Data Sources'
        %p.small Hold down Control (PC) or Command (Mac) to select multiple data sources.
        = f.collection_select :data_source_ids, DataSource.all, :id, :title, {}, {multiple: true, class: 'form-control'}

    .col-xs-12
      = f.submit button, class: 'btn btn-large btn-success'
      
      - if params[:action] == "edit"
        = link_to 'Destroy', @visualization, method: :delete, class: "danger", data: { confirm: "Are you sure? You cannot undo deletion." }