.row
  .col-xs-12
    .panel-group#accordion{role: "tablist", aria: { multiselectable: "true" }}
      .panel.panel-default
        .panel-heading#headingOne{role:"tab"}
          %h4.panel-title.no-padding
            %a{ data: {toggle:"collapse", parent: "#accordion"}, href: "#collapseOne", aria: {expanded: "true", controls: "collapseOne"}}
              Visualization Help
              %small (click to open)
        #collapseOne.panel-collapse.collapse{role: "tabpanel", aria: {labelledby: "headingOne"}}
          .panel-body
            %p To get started creating a visualization: 
            %ol
              .col-sm-4.col-xs-12
                %li Select from the "Tools" menu above to add a visualization type. Examples: Add Map; Add Bar Chart.
              .col-sm-4.col-xs-12
                %li
                  Modify the settings by clicking the gear icon in the top left corner. Load data and customize the display of the visualization. View the resources below for more detailed guidance.
              .col-sm-4.col-xs-12
                %li Populate attributes with Title, Abstract, Data Sources, etc. before clicking the "Create" button to save your visualization.
            .row
              .col-xs-12
                %p More resources:
                %ul
                  %li= link_to 'Weave Training [PDF]',        '/resources/guide.pdf',                        target: '_blank'
                  %li= link_to 'Adding Your Own Data [PDF]',  '/resources/add-your-own-data.pdf',            target: '_blank'
                  %li= link_to 'Case Study Steps [PDF]',      '/resources/case-study.pdf',                   target: '_blank'
                  %li= link_to 'Template for Municipal Data [CSV]', '/resources/ma_municipalities.csv',            target: '_blank'
                  %li= link_to 'Instructional video',         'https://www.youtube.com/watch?v=Q8E10dy1hR4', target: '_blank'