%img{id: "vis-#{vis.id}", src: vis.image_path(@s.geography)}
%p.sources
  Years:
  = vis.year
  &bull;
  = "#{'Source'.pluralize(vis.data_sources.count)}:"
  = vis.sources

:javascript

  $(document).on('ready', function () {
    DC.embedWeaveOnClick("#vis-#{vis.id}", '#{@s.geography_slug}', '#{@s.area_type_name.pluralize}');
  });