-# This is a mock visualization which will be removed
-#    once actual visualizations are added.

-# - visual.sources = ["Census", "MA Elections Division"]
-# - visual.years = %w( 2000 2010 2013 )
-# - visual.title = Faker::Name.title
-# - visual.preview_url = "http://placehold.it/325x200"

%h5= visual.title
=    image_tag visual.preview_path(@geography)
%ul.caption
  %li= list_relation(visual, :sources)
  %li= list_relation(visual, :years)

-# %h5= vis
-# .visual.preview{class: "#{@s.area_type_name}", id: "vis-#{vis.id}"}
-#   = image_tag vis.preview_url(@s.geography), id: "vis-#{vis.id}"
-#   -# %script{id: "sessionstate-#{vis.id}", type: 'text/xml'}
-#   -#   #{vis.rendered_state(@s.geography).html_safe}

-#   :javascript
-#     $(document).on('ready', function () {
-#       DC.embedWeaveOnClick("#vis-#{vis.id}", '#{@s.geography_slug}', '#{@s.area_type_name.pluralize}');
-#     });

-# -# :javascript

-# -#   $(document).on('ready', function () {
-# -#     var sessionstate = $("#sessionstate-#{vis.id}").html(),
-# -#         xmlstate     = (new DOMParser()).parseFromString(sessionstate, "text/xml")
-# -#     DC.embedWeaveAndUpload( "#vis-#{vis.id}",
-# -#                              xmlstate,
-# -#                              '#{@s.area_type_name.pluralize}',
-# -#                              '#{@s.area_type_id}',
-# -#                              '#{@s.geography_slug}' );
-# -#   });


-# %p.sources
-#   Years:
-#   = vis.year
-#   &bull;
-#   = "#{'Source'.pluralize(vis.data_sources.count)}:"
-#   = vis.sources