-# The canonical _preview to be used to display any Weave visualization,
-# normal or dynamic (snapshot). 

%h5= visual.title

.visual.preview
  = image_tag visual.preview(geography).url, id: "#{visual.id}"

%ul.caption
  %li= list_relation(visual, :sources)
  %li= list_relation(visual, :years)