%h1 Visualization Gallery
%h2.page-header Explore maps and data visualizations created by DataCommon users.

%p
  You are viewing
  %strong #{@gallery.topic}
  and
  %strong All Data Sources
  #{'.'}

.row
  = render partial: 'preview', collection: @gallery.visualizations[0..3], as: :vis

.row
  = render partial: 'preview', collection: @gallery.visualizations[4..7], as: :vis

.row.center
  = paginate @gallery.visualizations, window: 1, outer_window: 1