%h1 Visualization Gallery
%h2.page-header Explore maps and data visualizations created by DataCommon users.

%p.viewing
  You are viewing
  =select_tag :topic, options_for_select(topic_options, params[:topic]), id: 'topic-select', class: 'chosen-select', data: { placeholder: "All Topics" }
  and
  =select_tag :data_source, options_for_select(data_source_options, params[:data_source]), id: 'data-source-select', class: 'chosen-select', data: { placeholder: "All Data Sources" }
  #{'.'}

.row
  = render partial: 'preview', collection: @gallery.visualizations[0..3], as: :vis

.row
  = render partial: 'preview', collection: @gallery.visualizations[4..7], as: :vis

.row.center
  = paginate @gallery.visualizations, window: 1, outer_window: 1


:javascript
  $('.chosen-select').on('change', function () {
    var topic       = $('#topic-select').val(), // get selected values
        data_source = $('#data-source-select').val(),
        url = '#{visualizations_path}' + '?topic=' + topic + '&data_source=' + data_source;
    if (url) { // require a URL
      window.location = url; // redirect
    }
    return false;
  });