%h1.page-header New Visualization

.form.vis-form{role: 'form'}
  = form_for @visualization, remote: true, format: :json do |f|
    = render 'shared/error_messages'
    = render 'shared/success_messages'

    .col-md-9.col-sm-12

      #vis-new

      .row
        .col-xs-12
          %br
          %h4 Creating a Visualization
          %ol
            %li
              The first step in creating a visualization is The first step in creating a visualization is The first step in creating a visualization is The first step in creating a visualization is The first step in creating a visualization is 
            %li
              Next, the second step you will complete is Next, the second step you will complete is Next, the second step you will complete is 
            %li
              Lastly, in order to you will and then Lastly, in order to you will and then Lastly, in order to you will and then Lastly, in order to you will and then Lastly, in order to you will and then Lastly, in order to you will and then Lastly, in order to you will and then 

    .col-md-3.col-sm-12

      .form-group
        = f.label      :title
        = f.text_field :title, class: 'form-control'
      .form-group
        = f.label      :year, 'Year(s)'
        = f.text_field :year,  class: 'form-control'
      .form-group
        = f.label      :abstract
        = f.text_area  :abstract, class: 'form-control'
      .form-group
        = f.label :issue_area_ids, 'Topics'
        %p.small Hold down Control (PC) or Command (Mac) to select multiple topics.
        = f.collection_select :issue_area_ids, IssueArea.all, :id, :title, {}, {multiple: true, class: 'form-control'}
      .form-group
        = f.label :data_source_ids, 'Data Sources'
        %p.small Hold down Control (PC) or Command (Mac) to select multiple data sources.
        = f.collection_select :data_source_ids, DataSource.all, :id, :title, {}, {multiple: true, class: 'form-control'}
      .form-group
        = f.label  :institution_id
        %br
        = f.collection_select(:institution_id, Institution.all, :id, :short_name, selected: @institution.id)
      .form-group
        = f.label  :permission, 'Public or Private?'
        %p.small
          Public visualizations are displayed in the gallery, and can be viewed and shared.
        = select_tag('visualization[permission]', options_for_select([['Public','public'],['Private','private']], 'public'))

      = f.hidden_field :sessionstate

      = f.submit 'Save', class: 'btn btn-large btn-success'

:javascript

$(document).on('ready', function () {
  DC.embedWeave($('#vis-new'));  
});
