%h1.page-header New Visualization

.row
  .col-md-8.col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0

    %br
    %br
    %br
    %br
    %p  Weave Goes Here
    %br
    %br
    %br
    %br
    %br


  .col-md-3.col-sm-12.col-xs-12

    .form{role: 'form'}
      = form_for @visualization do |f|
        .form-group
          = f.label      :title
          = f.text_field :title, class: 'form-control'
        .form-group
          = f.label      :year
          = f.text_field :year,  class: 'form-control'
        .form-group
          = f.label      :abstract
          = f.text_area  :abstract, class: 'form-control'
        .form-group
          = f.label :issue_area_ids, 'Topics'
          %p.small Hold down Control (PC) or Command (Mac) to select multiple topics.
          = f.collection_select :issue_area_ids, IssueArea.all, :id, :title, {}, {multiple: true, class: 'form-control'}
        .form-group
          = f.label :data_source_ids, 'Data Sources'
          %p.small Hold down Control (PC) or Command (Mac) to select multiple data sources.
          = f.collection_select :data_source_ids, DataSource.all, :id, :title, {}, {multiple: true, class: 'form-control'}
        .form-group
          = f.label  :institution_id
          %br
          = f.collection_select(:institution_id, Institution.all, :id, :short_name, selected: @institution.id)
        .form-group
          = f.label  :permission, 'Public or Private?'
          %p.small
            Public visualizations are displayed in the gallery, and can be viewed and shared.
          = select_tag(:permission, options_for_select([['Public','public'],['Private','private']], 'public'))
        = f.submit 'Save', class: 'btn btn-large btn-success'