%script{type: "text/javascript", src: "http://metrobostondatacommon.org/media/swfobject/swfobject.js"}

%div.col-md-8.col-xs-12.vis-main
  %h3= @visualization.title
  %div#vis-2646
    %img{src: @visualization.preview_image_path}
    %p
      Flash is not loaded on your computer.
      %a{href: '#flash-player'} Download Flash Player
      to interact with this visualization.

%div.col-md-4.col-xs-12.vis-sidebar
  %div.row
    %div.col-md-12.col-xs-5.vis-abstract
      = render partial: 'visualizations/abstract', locals: { abstract: @visualization.abstract }
    %div.col-md-12.col-xs-5.vis-owner
      %p
        by
        = link_to @visualization.owner, @visualization.owner
      %p
        %h5 Topics
        %ul
          = render partial: 'visualizations/topic', collection: @visualization.issue_areas



:javascript
  $(document).on('ready', function () {
    DC.embedWeaveOnClick( "#vis-#{@visualization.id}", "#{@visualization.sessionstate}" );
  });