%script{type: "text/javascript", src: "http://metrobostondatacommon.org/media/swfobject/swfobject.js"}

.col-xs-12.visual.feature
  %h3= @visualization.title
  %img{id: "#{@visualization.id}", src: @visualization.image.url}
    %p.pre-weave
      %small Click to activate interactive visualization. (Flash required)

.col-xs-12
  .row
    .col-sm-6.col-xs-12
      %p= @visualization.abstract
    .col-sm-6.col-xs-12
      %p
        by
        = link_to @visualization.owner, @visualization.owner
      %p= issue_areas_list  @visualization
      %p= data_sources_list @visualization

    .col-sm-6.col-xs-12
      - if signed_in?
        - if current_user?(@visualization.owner)
          = link_to 'Edit', edit_visualization_path(@visualization), class: "btn btn-success"
        = link_to 'Duplicate', duplicate_visualization_path(@visualization), class: "btn btn-primary"


:javascript
  
  $(document).on('ready', function () {
    embed_on_click('.visual img');
  });