%script{type: "text/javascript", src: "http://metrobostondatacommon.org/media/swfobject/swfobject.js"}

%div.col-md-8.col-xs-12.vis-main
  %h3= @visualization.title
  %img.feature{id: "vis-#{@visualization.id}", src: @visualization.full_image_path}
    %p#clickto
      %small Click to activate interactive visualization. (Flash required)

%div.col-md-4.col-xs-12.vis-sidebar
  %div.row
    %div.col-md-12.col-sm-5.col-xs-12.vis-abstract
      %p= @visualization.abstract
    %div.col-md-12.col-sm-5.col-xs-12.vis-owner
      %p
        by
        = link_to @visualization.owner, @visualization.owner
      %p= issue_areas_list  @visualization
      %p= data_sources_list @visualization




:javascript
  
  $(document).on('ready', function () {
    console.log('ready');
    DC.synchEmbedWeaveOnClick("#vis-#{@visualization.id}", #{@visualization.sessionstate});

    $("#vis-#{@visualization.id}").click(function () {
      $('#clickto').hide();
    });
  });