%script{type: "text/javascript", src: "http://metrobostondatacommon.org/media/swfobject/swfobject.js"}

%div.col-md-8.col-xs-12.vis-main
  %h3= @visualization.title
  %div{id: "#{@visualization.id}"}
    %img{src: @visualization.preview_image_path}
    %p Flash is not available, which might mean it is not installed on your device.
    %p
      %a{href: '#flash-player'} Download Flash Player
      to interact with this visualization.

%div.col-md-4.col-xs-12.vis-sidebar
  %div.row
    %div.col-md-12.col-sm-5.col-xs-12.vis-abstract
      %p= @visualization.abstract
    %div.col-md-12.col-sm-5.col-xs-12.vis-owner
      %p
        by
        = link_to @visualization.owner, @visualization.owner
      %p
        %h5 Topics
        %ul
          = render partial: 'visualizations/topic', collection: @visualization.issue_areas



:javascript
  $(document).on('ready', function () {
    DC.embedWeaveOnClick( "#vis-#{@visualization.id}", #{@visualization.sessionstate} );
  });