%h1= link_to "< #{@snapshot.geography}", snapshot_path(@snapshot.geography)

%h1= @snapshot.topic

= @snapshot.inspect

-#   Maybe a TODO
-# Partials don't fully work because visualizations/preview is not
-# contained by a div. There's a way to refactor it so you pass
-# in the snapshot's topic header but it's not worth my time right now.
-#      i.e. locals: { extra_header: topic } > gets rendered as a H4

.row
  - @snapshot.visuals.each do |visual|
  
    -# Base div size on type
    - if @snapshot.type == 'municipality'
      .col-md-4.col-sm-6.col-xs-12
        = render partial: 'visualizations/preview', object: visual, as: :visual, locals: { geography: @snapshot.geography, type_class: @snapshot.type }
    - elsif @snapshot.type == 'subregion'
      .col-xs-12
        = render partial: 'visualizations/preview', object: visual, as: :visual, locals: { geography: @snapshot.geography, type_class: @snapshot.type }

:javascript

  $(document).on('ready', function () {

    $('.visual img').each( function() {
      // Create a Visual from the DOM element
      visual = new Visual( $(this).attr('id'), '', '/snapshots', 'xml', 'geography=' + getLikelyId(2) );
      Visuals[visual.id] = visual; // Add the new Visual to the 'model'
    });
  })