-# Introduces the area (muni, subregion, etc.) and shows the first
-# dynamic (snapshot) visualization for each topic.

.row
  .col-sm-4.col-xs-12
    -# Introduce the geography
    %h1 #{@geography}: Overview
    %p.description= @geography.description
    = render partial: 'select', locals: {type: @geography.type, selected: @geography}

  -# Show the preview map for the given geography.
  = render partial: 'map', locals: {geography: @geography}

-# Show the first dynamic visualization for every topic.
.row
  = render partial: 'snapshots/topic_preview', collection: topics, as: :topic

:javascript

  $(document).on('ready', function () {

    $('.visual img').each( function() {
      // Create a Visual from the DOM element
      visual = new Visual( $(this).attr('id'), '', '/snapshots', 'xml', 'geography=' + getLikelyId() );
      // Add the new Visual to the 'model'
      Visuals[visual.id] = visual;
    });
  })