%h1 #{@s.geography}: Snapshot Overview

.row
  .col-sm-6.col-xs-12
    %p.area-summary= @s.geography.short_desc
  .col-sm-6.col-xs-12.center
    #map
    =form_tag '', method: :get do
      =select_tag :municipality_id, options_for_select(@s.options_for_area, @s.geography_slug), include_blank: true, id: 'area-select', class: 'chosen-select', data: { placeholder: "Choose a different #{@s.area_type_name}" }

.row
  - @s.topics.each do |topic|
    .col-md-4.col-sm-6.col-xs-12.center.snapshot-preview
      .snapshot-preview-title=link_to topic.topic.title, eval("#{@s.area_type_name}_topic_path(@s.geography, topic.topic)")
      = render partial: 'visualizations/good_preview', object: topic.visual, as: :vis
  
    

:javascript

$(document).on('ready', function () {

  var map     = L.map('map', {scrollWheelZoom: false}).setView([42.3580, -71.0616], 8),
      tiles   = L.tileLayer("http://tiles.mapc.org/basemap/{z}/{x}/{y}.png", {
        attribution: 'Tiles by <a href="http://www.mapc.org/" target="_blank">Metropolitan Area Planning Council</a>.',
        maxZoom:      17
  }).addTo(map),
      geojson = JSON.parse(#{@s.map_geojson}),
      geojlyr = L.geoJson(geojson).addTo(map);


  map.fitBounds(geojlyr.getBounds());

  $('#area-select').on('change', function () {
    var url = $( this ).val(); // get selected value
    if (url) { // require a URL
      window.location = "/#{@s.area_type_name.pluralize}" + '/' + url; // redirect
    }
    return false;
  });
});