%h1= link_to "< #{@s.geography}", @s.geography
%h2= @s.topic

- @s.visualizations.each do |vis|
  .col-sm-6.col-xs-12
    .snapshot.municipality
      .snapshot-preview-title= vis
      = render partial: 'visualizations/preview', object: vis, as: :vis