.col-xs-12.static-map-preview
  .row
    .col-md-2.col-md-offset-1.col-sm-3.col-sm-offset-1.col-xs-12.col-xs-offset-0.center
      = image_tag layer.image
    .col-sm-7.col-sm-offset-1.col-xs-10.col-xs-offset-1
      %h3= link_to layer.title, layer
      %p
        %em by #{layer.creator}
      - if layer.coverage
        %p
          #{layer.coverage.singularize} coverage
      - if layer.createdate.presence
        %p Created in #{layer.createdate}
      
      %p= layer.description.downcase.capitalize