.col-xs-12.static-map-preview
  .row
    .col-xs-10.col-xs-offset-1
      %h3.layer.title= link_to layer.title, layer
      - if layer.coverage
        %p.layer.coverage
          #{layer.coverage.singularize}
      %p
        %em by #{layer.creator}
        - if layer.dates
          &nbsp;&bull;&nbsp; #{layer.dates}
      - if layer.created.presence
        %p Created in #{layer.created}
      
      %p= layer.description.downcase.capitalize