%h1= link_to "< Layers", layers_path

%h2= @layer.title
%p= @layer.description

.row
  .col-sm-6.col-xs-12
    #map.tall
    .center

      .dropdown.btn-group
        %a.btn.btn-success.dropdown-toggle{href: '#', data: {toggle: "dropdown"}}
          %span.glyphicon.glyphicon-cloud-download
          Download Layer
          %span.caret
        %ul.dropdown-menu
          %li= link_to 'CSV',         '#'
          %li= link_to 'Shapefile',   '#'
          %li= link_to 'GeoJSON',     '#'
          %li= link_to 'KML',         '#'
          %li= link_to 'PostGIS SQL', '#'

      .dropdown.btn-group
        %a.btn.btn-primary.dropdown-toggle{href: '#', data: {toggle: "dropdown"}}
          %span.glyphicon.glyphicon-list
          Download Metadata
          %span.caret
        %ul.dropdown-menu
          %li= link_to 'CSV',         '#'
          %li= link_to 'JSON',        '#'
          %li= link_to 'Spreadsheet', '#'
          %li= link_to 'XML',         '#'
          %li= link_to 'YAML',        '#'
          

  .col-sm-6.col-xs-12

    %table.metadata
      %tr
        %td{width: '35%'} Title
        %td #{@layer.title}
      %tr
        %td Alternate Title
        %td #{@layer.alt_title}
      %tr
        %td Subject
        %td #{@layer.subject}
      %tr
        %td Creator
        %td #{@layer.creator}
      %tr
        %td Creation Date
        %td #{@layer.createdate}
      %tr
        %td Modified Date
        %td #{@layer.moddate}
      %tr
        %td Publisher
        %td #{@layer.publisher}
      %tr
        %td Contributor
        %td #{@layer.contributr}
      %tr
        %td Spatial Coverage
        %td #{@layer.coverage}
      %tr
        %td
          Universe
          %br
          %small
            %a{href: '#'} What is a 'universe'?
        %td #{@layer.universe}
      %tr
        %td Table Name
        %td #{@layer.tablename}

:javascript

$(document).on('ready', function () {

  var map   = L.map('map', {scrollWheelZoom: false}).setView([42.3580, -71.0616], 12),
      tiles = L.tileLayer("http://tiles.mapc.org/basemap/{z}/{x}/{y}.png", {
          attribution: 'Tiles by <a href="http://www.mapc.org/" target="_blank">Metropolitan Area Planning Council</a>.',
          maxZoom:      17
    }).addTo(map);
});