%h1= link_to "< Layers", layers_path

%h2= @layer.title
%p= @layer.description

.row
  .col-sm-6.col-xs-12
    #map.tall
    .center
      .btn.btn-success
        Download Layer
        %b.caret
      .btn.btn-primary
        Download Metadata
        %b.caret
         

  .col-sm-6.col-xs-12

    %table.metadata
      %tr
        %td{width: '30%'} Title
        %td #{@layer.title}
      %tr
        %td Alternate Title
        %td #{@layer.alt_title}
      %tr
        %td Subject
        %td #{@layer.subject}
      %tr
        %td Creator
        %td #{@layer.creator}
      %tr
        %td Creation Date
        %td #{@layer.createdate}
      %tr
        %td Modified Date
        %td #{@layer.moddate}
      %tr
        %td Publisher
        %td #{@layer.publisher}
      %tr
        %td Contributor
        %td #{@layer.contributr}
      %tr
        %td Coverage (Spatial Extent)
        %td #{@layer.coverage}
      %tr
        %td
          Universe
          %br
          %small
            %a{href: '#'} What is a 'universe'?
        %td #{@layer.universe}
      %tr
        %td Schema
        %td #{@layer.schema}
      %tr
        %td Table Name
        %td #{@layer.tablename}

:javascript

$(document).on('ready', function () {

  var map   = L.map('map', {scrollWheelZoom: false}).setView([42.3580, -71.0616], 12),
      tiles = L.tileLayer("http://tiles.mapc.org/basemap/{z}/{x}/{y}.png", {
          attribution: 'Tiles by <a href="http://www.mapc.org/" target="_blank">Metropolitan Area Planning Council</a>.',
          maxZoom:      17
    }).addTo(map);
});