%div.footer
  
  %hr
  
  %div.row
    %div.container
      %div.row
        %div.col-sm-3.col-sm-offset-0.col-xs-12.col-xs-offset-1.links
          %h5 About the DataCommon
          %ul
            = render partial: 'pages/link', collection: about_pages, as: :page
            %li= link_to 'Social Media Icons'


        %div.col-sm-3.col-sm-offset-0.col-xs-12.col-xs-offset-1.links
          %h5 Find Data
          %ul
            %li= link_to 'Map Gallery',           static_maps_path
            %li= link_to 'Visualization Gallery', visualizations_path
            %li= link_to 'Data Layer Catalogue',  layers_path
            %li= link_to 'Make a Visualization',  '#new_visualization_path'
      

        %div.col-sm-3.col-sm-offset-0.col-xs-12.col-xs-offset-1.links
          %h5 Snapshots & Profiles
          %ul
            %li= link_to 'Cities & Towns'
            %li= link_to 'Subregions'


        %div.col-sm-3.col-sm-offset-0.col-xs-12.col-xs-offset-1.links
          %h5 Learning Community
          %ul
            = render partial: 'pages/link', collection: community_pages, as: :page

          %h5 Resources
          %ul
            = render partial: 'pages/link', collection: resources_pages, as: :page

  %hr
  %div.row
    %div.col-sm-4.col-xs-12.center
      = link_to do
        %img.bottom{src: 'http://metrobostondatacommon.org/media/mbdc/img/logo-indicators.png', alt: 'The Boston Indicators Project'}
    %div.col-sm-4.col-xs-12.center
      = link_to do
        %img{src: 'http://www.mapc.org/sites/default/files/mapc_logo.png', alt: 'MAPC'}
    %div.col-sm-4.col-xs-12.center
      = link_to do
        %img.bottom{src: 'http://metrobostondatacommon.org/media/mbdc/img/logo-tbf.png', alt: 'The Boston Foundation'}
          

  %div.row
    %div.col-xs-12
      %center
        %p
          %a{href: 'http://bit.ly/1pWTuru', target: '_blank'}
            60 Temple Place Boston, MA 02111
          |
          %a{href: 'tel: 617-451-2770'}
            617-451-2770
          |
          %a{href: 'mailto:info@datacommon.org'}
            info@datacommon.org
