
.footer
  .container
    .row

      .col-sm-4.col-xs-6
        %h5 Data & Visualizations
        %ul
          %li= link_to 'Data Catalog',          datasets_path
          %li= link_to 'Map Gallery',           static_maps_path
          %li= link_to 'Visualization Gallery', visualizations_path 
          %li= link_to 'Make a Visualization',  new_visualization_path
    

      .col-sm-4.col-xs-6
        %h5 Profiles & Resources
        %ul
          %li= link_to 'Community Profiles', snapshots_path
          %li= link_to 'Workshops',          '/workshops'
          %li= link_to 'Blog',               'http://uncommondata.org'
          %li= link_to 'Tutorial',           '/tutorial'

      .col-sm-4.col-xs-6
        %h5 Social
        %ul
          -# = render partial: 'pages/link', collection: about_pages, as: :page
          %li.social-icon
            = link_to "https://www.facebook.com/MAPCMetroBoston" do
              = image_tag 'facebook_50.png', alt: 'MAPC Facebook', target: "_blank"
          %li.social-icon
            = link_to "http://twitter.com/MAPCMetroBoston" do
              = image_tag 'twitter_50.png',  alt: 'MAPC Twitter',  target: "_blank"
          %li.social-icon
            = link_to "https://www.flickr.com/photos/44747327@N04/" do
              = image_tag 'flickr_50.png',   alt: 'MAPC Flickr',   target: "_blank"


    .page-header
    .row.lower
      .col-xs-12
        %p.center
          %a{href: 'http://mapc.org', target: '_blank'}       MAPC            
          %a{href: 'http://bit.ly/1pWTuru', target: '_blank'} 60 Temple Place Boston, MA 02111            
          %a{href: 'tel: 617-451-2770'}                       617-451-2770            
          %a{href: 'mailto:info@datacommon.org'}              hello@datacommon.org            
