
.footer
  .container
    .row

      .col-sm-3.col-xs-6
        %h5 Data
        %ul
          %li= link_to 'Data Catalog',          datasets_path
          %li= link_to 'Map Gallery',           static_maps_path

      .col-sm-3.col-xs-6
        %h5 Data
        %ul
          %li= link_to 'Visualization Gallery', visualizations_path 
          %li= link_to 'Make a Visualization',  new_visualization_path
    

      .col-sm-3.col-xs-6
        %h5 Profiles & Resources
        %ul
          %li= link_to 'Community Profiles', snapshots_path
          %li= link_to 'Workshops',          'http://www.eventbrite.com/o/mapc-610093971', target: '_blank'
          %li= link_to 'Blog',               'http://uncommondata.org'

      .col-sm-3.col-xs-6
        %h5 Social
        %ul
          %li.social-icon
            = link_to "https://www.facebook.com/MAPCMetroBoston", target: "_blank" do
              = image_tag 'facebook_50.png', alt: 'MAPC Facebook'
          %li.social-icon
            = link_to "http://twitter.com/MAPCMetroBoston", target: "_blank" do
              = image_tag 'twitter_50.png',  alt: 'MAPC Twitter'
          %li.social-icon
            = link_to "https://www.flickr.com/photos/44747327@N04/", target: "_blank" do
              = image_tag 'flickr_50.png',   alt: 'MAPC Flickr'

    .row
      - ['mapc-color', 'boston-indicators', 'cmrpc', 'montachusett-white'].each do |sponsor|
        .col-md-3.col-sm-6.col-xs-12
          .frame
            %span.helper
            = image_tag "logos/#{sponsor}.png", alt: "#{sponsor} logo", class: 'sponsor'

    .page-header

    .row.lower
      .col-sm-1.col-xs-12
        .center
          = link_to 'http://mapc.org', target: '_blank' do
            = image_tag 'logos/mapc-white.png', alt: 'MAPC Logo', class: 'logo'
      .col-sm-10.col-xs-12
        %p.center
          = link_to '60 Temple Place Boston, MA 02111', 'http://bit.ly/1pWTuru', target: '_blank'
          = link_to '617-451-2770', 'tel: 617-451-2770'
          = link_to 'hello@datacommon.org', 'mailto:info@datacommon.org'
