%nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
  %div.container
    %div.navbar-header
      %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: "#main-header"}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to root_path, class: 'navbar-brand' do
        =image_tag @institution.branding.logo_url, alt: "#{@institution} DataCommon", class: 'header-logo'

    %div.collapse.navbar-collapse#main-header
      %ul.nav.navbar-nav


        %li.dropdown
          %a.dropdown-toggle{href: "#", data: {toggle: 'dropdown'}}
            Explore Data
            %b.caret
          %ul.dropdown-menu
            %li= link_to 'Map Gallery',           static_maps_path
            %li= link_to 'Visualization Gallery', visualizations_path
            %li= link_to 'Data Layer Catalogue',  layers_path
            %li= link_to 'Make a Visualization',  new_visualization_path

        
        %li.dropdown
          %a.dropdown-toggle{href: "#", data: {toggle: 'dropdown'}}
            Community Snapshots
            %b.caret
          %ul.dropdown-menu
            %li= link_to 'Cities & Towns', municipalities_path
            %li= link_to 'Subregions',     subregions_path


        %li.dropdown
          %a.dropdown-toggle{href: "#", data: {toggle: 'dropdown'}}
            Resources
            %b.caret
          %ul.dropdown-menu
            = render partial: 'pages/link', collection: resources_pages, as: :page


        %li.dropdown
          %a.dropdown-toggle{href: "#", data: {toggle: 'dropdown'}}
            Community
            %b.caret
          %ul.dropdown-menu
            = render partial: 'pages/link', collection: community_pages, as: :page

        - if signed_in?
          %li.dropdown
            %a.dropdown-toggle{href: "#", data: {toggle: 'dropdown'}}
              Hi, #{current_user.fname}
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'Profile', current_user
              %li= link_to 'Log out', signout_path, method: 'delete'
        - else
          %li= link_to 'Log in', signin_path


        =form_tag '/search', method: :post, data: {role: 'search'}, class: "navbar-form navbar-right" do
          %div.input-group
            = text_field_tag :search, params[:search], class: "typeahead form-control", placeholder: "Search for data"
            %span.input-group-btn
              %button.btn.btn-success
                %span.glyphicon.glyphicon-search