%nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
  
  .container-fluid#header
    .navbar-header
      %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: "#main-header"}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        - if @institution.presence
          = image_tag @institution.logo.url(:large), alt: "#{@institution} DataCommon"

    .collapse.navbar-collapse#main-header
      %ul.nav.navbar-nav.navbar-right
        -# Login / User Menu
        - if signed_in?
          %li.dropdown
            %a#user-menu.dropdown-toggle{href: "#", data: {toggle: 'dropdown'}}
              Hi, #{ current_user }
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'My Profile', current_user
              %li= link_to 'Sign out', signout_path, method: 'delete'
        - else
          %li= link_to 'Sign up', signup_path, id: 'btn-signup', class: 'btn btn-primary'
          %li= link_to 'Log in',  login_path,  id: 'btn-login'

      %ul.nav.navbar-nav
        %li= link_to 'Data', datasets_path      
        %li= link_to 'Maps', static_maps_path
      
        -# Visualizations
        %li.dropdown
          %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
            Visualizations
            %b.caret
          %ul.dropdown-menu
            %li= link_to 'Gallery',       visualizations_path
            %li= link_to 'Make Your Own', new_visualization_path
      
        %li= link_to 'Communities', snapshots_path
      
        -# Resources
        %li.dropdown
          %a.dropdown-toggle{href: "#", data: {toggle: 'dropdown'}}
            Resources
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to "Central Mass Data Day", "https://www.eventbrite.com/e/16618355950", target: '_blank'
              = link_to 'http://www.eventbrite.com/o/mapc-610093971', target: '_blank' do
                MAPC Workshops
                -# %span.glyphicon.glyphicon-new-window
              = link_to 'Blog', 'http://uncommondata.tumblr.com/'

      = form_tag '/search', method: :get, data: {role: 'search'}, class: "navbar-form navbar-left" do
        .input-group
          = text_field_tag :search, params[:search], class: "typeahead form-control", placeholder: "Search for data and more"
          %span.input-group-btn
            %button.btn.btn-success
              %span.glyphicon.glyphicon-search