%nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
  %a.beta.header-item{href: '#', data: {toggle: 'modal', target: '#beta'}} Beta
  %div.container
    %div.navbar-header
      %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: "#main-header"}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to root_path, class: 'navbar-brand' do
        =image_tag @institution.branding.logo_url, alt: "#{@institution} DataCommon", class: 'header-logo'

    %div.collapse.navbar-collapse#main-header
      %ul.nav.navbar-nav


        %li.dropdown
          %a.dropdown-toggle.header-item{href: "#", data: {toggle: 'dropdown'}}
            Explore Data
            %b.caret
          %ul.dropdown-menu
            %li= link_to 'Data Layer Catalog',    layers_path
            %li= link_to 'Map Gallery',           static_maps_path
            %li= link_to 'Visualization Gallery', visualizations_path
            %li= link_to 'Make a Visualization',  new_visualization_path

        
        %li.dropdown
          %a.dropdown-toggle.header-item{href: "#", data: {toggle: 'dropdown'}}
            Community Snapshots
            %b.caret
          %ul.dropdown-menu
            %li= link_to 'Cities & Towns', municipalities_path
            %li= link_to 'Subregions',     subregions_path


        %li.dropdown
          %a.dropdown-toggle.header-item{href: "#", data: {toggle: 'dropdown'}}
            Resources
            %b.caret
          %ul.dropdown-menu
            = render partial: 'pages/link', collection: resources_pages, as: :page


        %li.dropdown
          %a.dropdown-toggle.header-item{href: "#", data: {toggle: 'dropdown'}}
            Community
            %b.caret
          %ul.dropdown-menu
            = render partial: 'pages/link', collection: community_pages, as: :page

        - if signed_in?
          %li.dropdown
            %a#user-menu.dropdown-toggle.header-item{href: "#", data: {toggle: 'dropdown'}}
              Hi, #{current_user.fname}
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'My Profile', current_user
              %li= link_to 'Log out', signout_path, method: 'delete'
        - else
          %li.header-item= link_to 'Log in', signin_path


        =form_tag '/search', method: :get, data: {role: 'search'}, class: "navbar-form navbar-right" do
          %div.input-group.header-item
            = text_field_tag :search, params[:search], class: "typeahead form-control", placeholder: "Search for data"
            %span.input-group-btn
              %button.btn.btn-success
                %span.glyphicon.glyphicon-search

#beta.modal.fade{role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}} &times;
        %h3 DataCommon Beta
      .modal-body
        %p
          The new DataCommon is presently in the Beta stage. This means that we are still actively developing features, and that the layers you see in the Data Catalog are only a small sample of our collection of 300+ layers.
        %p
          We are actively developing the DataCommon, so you will see new features and additional layers over time.
        %p
          You are always welcome to share feedback or suggest ideas through our 
          %a{href: "http://mapc.uservoice.com/forums/76849-metroboston-datacommon-feedback-support"} DataCommon UserVoice.
        %p
          Thank you for using the DataCommon.
        %p
          %a{href: 'mailto: mcloyd@mapc.org'} Matt, 
          %a{href: 'mailto: hstclair@mapc.org'} Holly, 
          %a{href: 'mailto: sbrunton@mapc.org'} Susan,
          and the rest of MAPC Data Services.
      .modal-footer
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close window
