!!! 5
%html
  %head
    %title DataCommon
    = stylesheet_link_tag    'application', 'data-turbolinks-track' => true, media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"
    = javascript_include_tag "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"
    = csrf_meta_tags
  %body
  
    = yield :featured
    
    .container
      .row
        = render 'layouts/header'
        = render 'layouts/flash'

      .row
        .container
          = yield

    -# outside container for full width
    = render 'layouts/footer'

